{% extends 'baseadmin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>
 {% include 'user/_filtre.html.twig' with {form : form} only %}
 <div class="container">
 <div class="card card-info" style="width: 140rem;">
            <div class="card-header">
              <h3 class="card-title">Cartefidelite index</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Photo</th>
                <th>IsVerified</th>
                <th>actions 1</th>
                <th>action 2</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.cin }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td> <img src="{{ asset('webImage/' ~ user.photo ) }}" height="30px" width="20px" ></td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }} </td>
                <td>{% if (user.isVerified == false ) %} <a href="{{ path('user_approve', {'id': user.id}) }}">Verify the Account </a>{% endif %} </td>
                <td><a class="btn btn-primary  btn-sm" href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye">
                        </i></a></td>
                <td><a class="btn btn-warning  btn-sm" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="col-md-12 text-center">
           <a class="btn btn-success  btn-lg" href="{{ path('user_new') }}"><i class="fas fa-user-plus">  </i></a>
         </div>
  
{% endblock %}
