{% extends 'baseadmin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>
    <div class="container">

</script>

 <div class="card card-info" >
            <div class="card-header">
              <h3 class="card-title">User index</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">


    <table class="table table-bordered table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
             <!--<tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>-->
            <!--<tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>-->
            <tr>
                <th>Cin</th>
                <td>{{ user.cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <!--<tr>
                <th>Photo</th>
                <td>{{ user.photo }}</td>
            </tr>-->
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table> <br>
    <div class="btn-toolbar mb-3 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">

                <a class="btn btn-primary  " href="{{ path('user_index') }}"><i class="fas fa-arrow-circle-left"></i></a></a>

            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">

                <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pen"></i></a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                {{ include('user/_delete_form.html.twig') }}
            </div>
    
{% endblock %}
