{% extends 'admin.html.twig' %}
{% block gestion %}
              <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-store"></i>
              <p>
                Gestion des Coins
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="ajouterC" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter un Coin</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listCoins" class="nav-link ">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Coins</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-burger-soda"></i>
              <p>
                Gestion des Plats
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="ajouterP" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter un Plat</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listPlats" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Plats</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                Gestion des Reservations
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="ajouterR" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter une Reservation </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listReservations" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Reservations</p>
                </a>
              </li>
            </ul>
          </li>
{% endblock %}
{% block titrePage %}
              
            <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
             <div class="card-header">
                <h3 class="card-title">LA LISTE DES RESERVATIONS </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr style="background-color: #56606a;">
                    <th>Numero de la reservation</th>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Nombre de personnes</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for reservation in reservations %}
                  <tr>
                    <td>{{reservation.num}}</td>
                    <td>{{reservation.date|date('d M Y')}}</td>
                    <td>{{reservation.heure|date('h:i')}}</td>
                    <td>{{reservation.getNbPersonnes()}}</td>
                    <td><a href="{{path('modifReservation',{'num': reservation.num})}}" type="button" class="btn btn-secondary">Modifier</a>
                        <a href="{{path('suppReservation',{'num': reservation.num})}}" type="button" class="btn btn-secondary">Supprimer</a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"> Gestion des Reservations</li>
              <li class="breadcrumb-item active"> Consulter les Reservations</li>
            </ol>
          </div><!-- /.col -->
{% endblock %}
{% block body %}
{% endblock %}