{% extends 'admin.html.twig' %}
{% block gestion %}
              <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Gestion des Cultures
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="addC" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter une Culture</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listCulturesb" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Cultures</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-percentage"></i>
              <p>
                Gestion des Offres
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="addO" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter une Offre</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listOffresb" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Offres</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="cal" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Calendrier des Offres</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-fighter-jet"></i>
              <p>
                Gestion des Voyages
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="addV" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter un Voyage</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listVoyages" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Voyages</p>
                </a>
              </li>
            </ul>
          </li>
{% endblock %}
{% block titrePage %}
              <div class="col-sm-6">
            <h1 class="m-0"> la Liste des Cultures</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"> Gestion des Cultures</li>
              <li class="breadcrumb-item active"> Consulter les Cultures</li>
            </ol>
          </div><!-- /.col -->
{% endblock %}
{% block body %}
          <div class="card">
              
              <!-- /.card-header -->
              <div class="card-body">
              
                <table class="table table-bordered table-striped">
                  <thead class="table-dark" style="background-color: #4f5962;">
                  <tr>
                    <th>Référence</th>
                    <th>Pays</th>
                    <th>Date d'ajout</th>
                    <th>Texte</th>
                    <th>Image</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for culture in cultures %}
                  <tr>
                    <td>{{culture.ref}}</td>
                    <td>{{culture.pays}}</td>
                    <td>{{culture.getDateAjout()|date('d M Y')}}</td>
                    <td>{{culture.texte}}</td>
                    <td>{{culture.flag}}</td>
                    <td>
                        <a href="{{path('updateC',{'ref': culture.ref})}}" type="button" class="btn btn-secondary">Update</a>
                        <a href="{{path('deleteCulture',{'ref': culture.ref})}}" type="button" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <a href="{{ path('addC') }}" type="button" class="btn btn-secondary" >Nouvelle Culture</a>
                <ul class="pagination justify-content-center"> {{ knp_pagination_render(cultures) }} </ul>
              </div>
              <!-- /.card-body -->
            </div>
{% endblock %}