
{% block title %} {% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/Registration/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/Registration/css/style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="booking-content">
                <div class="booking-image">
                    <img class="booking-img" src="/Registration/images/form-img.jpg" alt="Booking Image">
                </div>
                <div class="booking-form">
                 {{ form_start(registrationForm) }}
                   
                        <h2>Créez votre compte "Le tour du monde" en quelques clics !</h2>
                        <div class="form-group form-input">
                             {{ form_widget(registrationForm.nom) }}
                        </div>
                        <div class="form-group form-input">
                             {{ form_widget(registrationForm.prenom) }}
                        </div>
                         <div class="form-group form-input">
                             {{ form_widget(registrationForm.cin) }}
                        </div>
                         <div class="form-group form-input">
                             {{ form_widget(registrationForm.photo) }}
                        </div>
                            <div class="form-group form-input">
                             {{ form_widget(registrationForm.email) }}
                        </div>
                     <div class="form-group form-input">
                             {{ form_widget(registrationForm.plainPassword) }}
                        </div>
                        
                        
                        <div class="form-submit">
                         <button type="submit" class="submit">Register</button>
                           </div>
                  
                        {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="/Registration/vendor/jquery/jquery.min.js"></script>
    <script src="/Registration/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

























  <!-- Vendor JS Files -->
  <script src="/Front/assets/vendor/aos/aos.js"></script>
  <script src="/Front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/Front/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/Front/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/Front/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/Front/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/Front/assets/js/main.js"></script>

{% endblock %}
