{% extends 'baseadmin.html.twig' %}

{% block title %}Cartefidelite index{% endblock %}

{% block body %}
<div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Cartefidelite index</h3>
              </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num</th>
                <th>Nbpts</th>
                <th>Periodevalidation</th>
                <th>Dateexpiration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cartefidelite in cartefidelites %}
            <tr>
                <td>{{ cartefidelite.id }}</td>
                <td>{{ cartefidelite.num }}</td>
                <td>{{ cartefidelite.nbpts }}</td>
                <td>{{ cartefidelite.periodevalidation }}</td>
                <td>{{ cartefidelite.dateexpiration ? cartefidelite.dateexpiration|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('cartefidelite_show', {'id': cartefidelite.id}) }}">show</a>
                    <a href="{{ path('cartefidelite_edit', {'id': cartefidelite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-success" href="{{ path('cartefidelite_new') }}">Create new</a>
    </div>
{% endblock %}
