{% extends 'admin.html.twig' %}
{% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/adminlte.min.css">
  {% endblock %}
{% block gestion %}
              <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Gestion des Personnels
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="ajouterpersonnel" class="nav-link ">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter un Personnel</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listPersonnel" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Personnels</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-percentage"></i>
              <p>
                Gestion des Fonction
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="ajouterfonction" class="nav-link a">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter une Fonction</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listFonction" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Fonction</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-fighter-jet"></i>
              <p>
                Gestion des Depenses
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="ajoutersalaire" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter un salaire</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="ajouterfacture" class="nav-link ">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter une facture</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listDepense" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Depenses</p>
                </a>
              </li>
            </ul>
          </li>
{% endblock %}
{% block titrePage %}
              <div class="col-sm-6">
            <h1 class="m-0"> modifier une facture</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"> Gestion des Depenses</li>
              <li class="breadcrumb-item active"> modifier une facture</li>
            </ol>
          </div><!-- /.col -->
{% endblock %}

{% block body %}
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

{{ form_errors(form.date) }}
{{ form_label(form.date,"date") }}
{{ form_widget(form.date)}}
{{ form_errors(form.montant) }}
{{ form_label(form.montant,"montant") }}
{{ form_widget(form.montant)}}
{{ form_end(form) }}
{% endblock %}
{% block js %}
<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="../dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="../plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../dist/js/pages/dashboard3.js"></script>
{% endblock %}