<h1 align="center"> La facture totale </h1>
<table align="center" border="1">
    <tr>
        <td>id</td>
        <td>type</td>
        <td>date</td>
        <td>montant</td>
    </tr>
    {% set total = 0  %}
    {% for depense in depenses %}
        <tr>
            <td>{{ depense.id }}</td>
            <td>{{ depense.type }}</td>
            <td>{{ depense.montant }}</td>
            <td>{{ depense.getDate()|date('d M Y') }}</td>
             {% set total = total + depense.montant %}
        
            
        </tr>
    {% endfor %}

</table>
<h4 align="right"> La somme totale est : {{total}} DT </h4>
<h4 align="right"> TVA = 15% </h4>
{% set total = total * 1.15 %}
<h3 align="right"> Montant à payer :  {{total}} DT</h3>1