{% extends 'admin.html.twig' %}
{% block gestion %}
              <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Gestion des Cultures
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="addC" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter une Culture</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listCulturesb" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Cultures</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-percentage"></i>
              <p>
                Gestion des Offres
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="addO" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter une Offre</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listOffresb" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Offres</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-fighter-jet"></i>
              <p>
                Gestion des Voyages
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="addV" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter un Voyage</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listVoyages" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Voyages</p>
                </a>
              </li>
            </ul>
          </li>
{% endblock %}
{% block titrePage %}
              <div class="col-sm-6">
            <h1 class="m-0"> Ajouter un Voyage</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"> Gestion des Voyages</li>
              <li class="breadcrumb-item active"> Ajouter un Voyage</li>
            </ol>
          </div><!-- /.col -->
{% endblock %}
{% block body %}

    <div class="card-body">
        {{ form_start(formV,{'attr': {'novalidate': 'novalidate'}} ) }}
          {{ form_errors(formV.id_u) }}
          {{ form_errors(formV.id_o) }}
          {{ form_errors(formV.destination) }}
        <div class="form-group">
          {{ form_label(formV.id_u,"ID User") }}
          {{ form_widget(formV.id_u)}}
        </div>
        <div class="form-group">
          {{ form_label(formV.id_o,"ID Offre") }}
          {{ form_widget(formV.id_o)}}
        </div>
        <div class="form-group">
          {{ form_label(formV.destination,"Destination") }}
          {{ form_widget(formV.destination)}}
        </div>
        
        {{form_rest(formV)}}
        {{ form_end(formV) }}
        <a href="{{ path('listVoyages') }}" >Retour à la Liste</a>
    </div>


{% endblock %}